services:
  darsinurse-db:
    image: mysql:8.0
    container_name: darsinurse-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: darsinurse
      MYSQL_USER: darsinurse
      MYSQL_PASSWORD: darsinurse123
    volumes:
      - darsinurse_mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  darsinurse-app:
    build: .
    container_name: darsinurse-app
    restart: always
    environment:
      DB_HOST: darsinurse-db
      DB_PORT: 3306
      DB_USER: darsinurse
      DB_PASSWORD: darsinurse123
      DB_NAME: darsinurse
    depends_on:
      - darsinurse-db
    ports:
      - "4000:4000"

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  darsinurse_mysql_data:
