version: "3.9"

services:
  darsinurse-db:
    image: mysql:8.0
    container_name: darsinurse-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: darsinurse
      MYSQL_USER: darsinurse
      MYSQL_PASSWORD: darsinurse123
    command: --default-authentication-plugin=mysql_native_password --default-time-zone='+07:00'
    volumes:
      - darsinurse_mysql_data:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro  # sinkron waktu dengan host
    ports:
      - "3306:3306"

  darsinurse-app:
    build: .
    container_name: darsinurse-app
    restart: always
    environment:
      DB_HOST: darsinurse-db
      DB_PORT: 3306
      DB_USER: darsinurse
      DB_PASSWORD: darsinurse123
      DB_NAME: darsinurse
      TZ: Asia/Jakarta               # timezone untuk app container
    depends_on:
      - darsinurse-db
    volumes:
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "4000:4000"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: darsinurse-phpmyadmin
    restart: always
    environment:
      PMA_HOST: darsinurse-db
      PMA_USER: darsinurse
      PMA_PASSWORD: darsinurse123
      TZ: Asia/Jakarta
    volumes:
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "8080:80"
    depends_on:
      - darsinurse-db

volumes:
  darsinurse_mysql_data: